---
import Layout from "@/components/Layout.astro";
import {
    getProjectPosts,
    PROJECTS_DESCRIPTION,
} from "@/pages/projects/_projects";
import PageHeader from "@/components/PageHeader.astro";
import { Image } from "astro:assets";

const posts = await getProjectPosts();
---

<Layout
    title="Projects"
    description={PROJECTS_DESCRIPTION}
    rssUrl="/projects/rss.xml"
>
    <PageHeader heading="Projects" description={PROJECTS_DESCRIPTION} />
    <ol class="grid grid-cols-1 gap-8 mt-8">
        {
            // TODO, keyboard navigation
            posts.map((post) => (
                <a
                    class="no-underline group grid md:grid-cols-2 md:gap-4 gap-2 grid-cols-1"
                    id={post.id}
                    href={`/projects/${post.id}`}
                >
                    <Image
                        class="h-64 w-full object-cover m-0"
                        src={post.data.image!}
                        alt=""
                    />
                    <span class="block">
                        <span class="heading-3">
                            {post.title}
                            {!post.data.publish && (
                                <span class="m-0 body-base text-sm uppercase text-amber-500">
                                    Draft
                                </span>
                            )}
                        </span>
                        <span class="block font-normal">
                            {post.data.description}
                        </span>
                        {post.data.tags && (
                            <span class="flex flex-wrap gap-2 mt-2">
                                {post.data.tags.sort().map((t) => (
                                    <span class="font-mono text-sm uppercase font-thin bg-elevation rounded-full px-2 opacity-70">
                                        {t}
                                    </span>
                                ))}
                            </span>
                        )}
                    </span>
                </a>
            ))
        }
    </ol>
</Layout>
